@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<header class="page-header" style="background: url(/images/page-header01.jpg) center #141414;">
    <div class="container">
        <h1> @localizer["Iletisim"]</h1>
        <p>
            @localizer["Aciklama"]

        </p>
    </div>
</header>
<!-- end navbar -->

<section class="content-section">
    <div class="container">
        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-7">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="section-title  ">
                            <h6>@localizer["Elestiri"]</h6>
                            <h2>@localizer["Fikir"]</h2>
                        </div>
                        <div role="form" class="wpcf7" id="wpcf7-f327-p146-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                            <form action="/contact-us/#wpcf7-f327-p146-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="327" />
                                    <input type="hidden" name="_wpcf7_version" value="5.5.4" />
                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f327-p146-o1" />
                                    <input type="hidden" name="_wpcf7_container_post" value="146" />
                                    <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                                </div>
                                <div class="contact-form">
                                    <div class="form-group">
                                        <input type="text" placeholder='@localizer["Ad"]'>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder='@localizer["EMail"]'>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder='@localizer["Telefon"]'>
                                    </div>
                                    <div class="form-group">
                                        <textarea placeholder='@localizer["Mesaj"]'></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value='@localizer["ButtonText"]'>
                                    </div>
                                </div>
                                <div class="wpcf7-response-output" aria-hidden="true"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-section no-spacing">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1613036184300" style="width:90%;margin:auto;">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner vc_custom_1613036178494">
                <div class="wpb_wrapper">
                    <div class="google-maps" data-background="#856d47">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5083.409497585206!2d30.521526792417315!3d50.42797239658241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2sKiev%2C%20Ukrayna%2C%2002000!5e0!3m2!1str!2str!4v1613036370856!5m2!1str!2str"></iframe> <i class="lni lni-map-marker"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-section">
    <div class="container">
        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-offset-1 vc_col-md-10">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="accordion-box">
                            <div class="accordion" id="accordion" role="tablist">
                                <div class="card">
                                    <div class="card-header" role="tab" id="How do I find analyst reports (investment bank research)?"> <a data-toggle="collapse" href="#collapse1" aria-expanded="false">How do I find analyst reports (investment bank research)? </a> </div>
                                    <div id="collapse1" class="collapse" data-parent="#accordion">
                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&#039;t heard of them accusamus labore sustainable VHS.</div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end collapse -->
                                </div>
                                <!-- end card -->
                                <div class="card">
                                    <div class="card-header" role="tab" id=" Where can I find credit and bond ratings for a particular company?"> <a data-toggle="collapse" href="#collapse2" aria-expanded="false"> Where can I find credit and bond ratings for a particular company? </a> </div>
                                    <div id="collapse2" class="collapse" data-parent="#accordion">
                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&#039;t heard of them accusamus labore sustainable VHS.</div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end collapse -->
                                </div>
                                <!-- end card -->
                                <div class="card">
                                    <div class="card-header" role="tab" id=" Where can I get access to Capital IQ?"> <a data-toggle="collapse" href="#collapse3" aria-expanded="false"> Where can I get access to Capital IQ? </a> </div>
                                    <div id="collapse3" class="collapse" data-parent="#accordion">
                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&#039;t heard of them accusamus labore sustainable VHS.</div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end collapse -->
                                </div>
                                <!-- end card -->
                                <div class="card">
                                    <div class="card-header" role="tab" id=" Where can I find the Wall Street Journal - today&#039;s and historical"> <a data-toggle="collapse" href="#collapse4" aria-expanded="false"> Where can I find the Wall Street Journal - today&#039;s and historical </a> </div>
                                    <div id="collapse4" class="collapse" data-parent="#accordion">
                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&#039;t heard of them accusamus labore sustainable VHS.</div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end collapse -->
                                </div>
                                <!-- end card -->
                                <div class="card">
                                    <div class="card-header" role="tab" id=" Where can I find market research reports?"> <a data-toggle="collapse" href="#collapse5" aria-expanded="false"> Where can I find market research reports? </a> </div>
                                    <div id="collapse5" class="collapse" data-parent="#accordion">
                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&#039;t heard of them accusamus labore sustainable VHS.</div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end collapse -->
                                </div>
                                <!-- end card -->
                                <div class="card">
                                    <div class="card-header" role="tab" id=" Where can I get information on private companies?"> <a data-toggle="collapse" href="#collapse6" aria-expanded="false"> Where can I get information on private companies? </a> </div>
                                    <div id="collapse6" class="collapse" data-parent="#accordion">
                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&#039;t heard of them accusamus labore sustainable VHS.</div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end collapse -->
                                </div>
                                <!-- end card -->
                                <div class="card">
                                    <div class="card-header" role="tab" id=" Where can I find constituent lists for the S&amp;P indices?"> <a data-toggle="collapse" href="#collapse7" aria-expanded="false"> Where can I find constituent lists for the S&amp;P indices? </a> </div>
                                    <div id="collapse7" class="collapse" data-parent="#accordion">
                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&#039;t heard of them accusamus labore sustainable VHS.</div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end collapse -->
                                </div>
                                <!-- end card -->
                                <div class="card">
                                    <div class="card-header" role="tab" id=" Where can I find The Economist (current and historical)?"> <a data-toggle="collapse" href="#collapse8" aria-expanded="false"> Where can I find The Economist (current and historical)? </a> </div>
                                    <div id="collapse8" class="collapse" data-parent="#accordion">
                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&#039;t heard of them accusamus labore sustainable VHS.</div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end collapse -->
                                </div>
                                <!-- end card -->
                            </div>
                        </div>
                        <!-- end accordion -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-section no-spacing" data-background="#856d47">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-bar">
                    <i class="lni lni-protection"></i>
                    <h6>Call a New travel specialist on</h6>
                    <strong>+61 3 8648 8871</strong>
                    <figure>
                        @*<img src="http://quardo.themezinho.net/wp-content/uploads/2021/02/logo-placeforstay.png" alt="Call a New travel specialist on">*@
                    </figure>
                </div>
                <!-- end footer-bar -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end content-section -->
