@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "MAISON L'ETRO";
}

@Html.Partial("Partial/_Header")


<section class="content-section no-spacing">
    <div class="container">
        <div class="row">
            <section class="content-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h6 style="font-family: 'Merriweather', serif;">Maison L'etro</h6>
                                <h2 style="font-family: 'Merriweather', serif;">
                                    @localizer["Aciklama1"]
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<section class="content-section no-spacing" style="background-image:url('../images/background.jpeg') !important;">
    <div class="container">
        <div class="row no-gutters align-items-center">
            <div class="col-lg-6">
                <div class="side-content text-center">
                    <h3><b> @localizer["RoomsHeader"]</b></h3>
                    <h5 class="text-justify">
                        @localizer["Desc"]
                    </h5>
                    <h5 class="text-justify">@localizer["Desc2"]</h5>
                </div>
            </div>
            <div class="col-lg-6">
                <figure class="side-image right-full overlap-bottom reveal-effect">
                    <img src="/images/birbaskadir.jpeg" alt="Image">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="content-section no-spacing">
    <div class="container">
        <div class="row no-gutters align-items-center">
            <div class="col-12">
                <div class="section-title text-center">
                    <h6>Maison L'etro</h6>
                    <h2><b>@localizer["Header2"]</b></h2>
                </div>
            </div>
            <div class="col-lg-6">
                <figure class="left-align reveal-effect"><img src="/images/room-gallery01.png" alt="Image"></figure>
            </div>
            <div class="col-lg-6">
                <div class="side-hotel-box right">
                    @*<div class="review"><i class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i class="lni lni-star"></i><span>3,674 reviews</span></div>*@
                    <h4>
                        @localizer["Aciklama2"]
                    </h4>
                    <a href="/rooms" class="custom-button" style="background-color: #df7358;float:right"><span class=h5>@localizer["Odalar"]</span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-section no-spacing" style="background-color:#fcd6c1">
    <div class="container">
        <div class="row no-gutters align-items-center">
            <div class="col-lg-6">
                <div class="side-content light text-left">
                    <h2>@localizer["F&B2"]</h2>
                    <p>
                        @localizer["F&B3"]
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <figure class="side-image overlap-top reveal-effect"><img src="/images/side-image03.jpg" alt="Image"></figure>
            </div>
        </div>
    </div>
</section>



<div class="col-12">
    <div class="section-title text-center mt-5">
        <h6>MAISON L'ETRO</h6>
    </div>
</div>

<section class="content-section no-spacing">
    <div class="rooms-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-background="images/room-gallery01.png">
                <div class="room-detail">
                    <div class="price-line"><span>MAISON L'ETRO</span></div>
                    <h3><a href="/rooms">ODALAR</a></h3>
                    @*<div class="reviews">925 guest reviews <span>8.0</span></div>*@
                </div>
                <!-- end room-detail -->
            </div>
            <div class="swiper-slide" data-background="images/room-gallery01.png">
                <div class="room-detail">
                    <div class="price-line"><span>MAISON L'ETRO</span></div>
                    <h3><a href="/rooms">ODALAR</a></h3>
                    @*<div class="reviews">925 guest reviews <span>8.0</span></div>*@
                </div>
                <!-- end room-detail -->
            </div>
            <div class="swiper-slide" data-background="images/room-gallery01.png">
                <div class="room-detail">
                    <div class="price-line"><span>MAISON L'ETRO</span></div>
                    <h3><a href="/rooms">ODALAR</a></h3>
                    @*<div class="reviews">925 guest reviews <span>8.0</span></div>*@
                </div>
                <!-- end room-detail -->
            </div>
            <div class="swiper-slide" data-background="images/room-gallery01.png">
                <div class="room-detail">
                    <div class="price-line"><span>MAISON L'ETRO</span></div>
                    <h3><a href="/rooms">ODALAR</a></h3>
                    @*<div class="reviews">925 guest reviews <span>8.0</span></div>*@
                </div>
                <!-- end room-detail -->
            </div>
            <div class="swiper-slide" data-background="images/room-gallery01.png">
                <div class="room-detail">
                    <div class="price-line"><span>MAISON L'ETRO</span></div>
                    <h3><a href="/rooms">ODALAR</a></h3>
                    @*<div class="reviews">925 guest reviews <span>8.0</span></div>*@
                </div>
                <!-- end room-detail -->
            </div>
            <!-- end swiper-slide -->
        </div>
    </div>
    <!-- end rooms-slider -->
</section>
<!-- end content-section -->
<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center mt-5">
                    <h6>MAISON L'ETRO</h6>
                    <h4 class="mt-2">
                        @localizer["Surf"]
                    </h4>
                </div>
            </div>
            <!-- end col-12 -->
            <div class="col-md-6">
                <div class="recent-news">
                    <figure class="reveal-effect"><img src="images/recent-news01.jpg" alt="Image"></figure>
                    <div class="content">
                        <ul>
                            <li><a href="#">ALAÇATI</a></li>
                        </ul>
                        @*  <span>DEC 26, 2020</span>
                            <h2>
                            <a href="news-single.html">
                            The Best Restaurants in
                            London Rights Now
                            </a>
                            </h2>*@
                    </div>
                    <!-- end content -->
                </div>
                <!-- end recent-news -->
            </div>
            <!-- end col-6 -->
            <div class="col-md-6">
                <div class="recent-news">
                    <figure class="reveal-effect"><img src="images/recent-news02.jpg" alt="Image"></figure>
                    <div class="content">
                        <ul>
                            <li><a href="#">RÜZGAR SÖRFÜ</a></li>
                        </ul>
                        @* <span>NOV 17, 2020</span>
                            <h2>
                            <a href="news-single.html">
                            Most Delicious Plates
                            from Quardo Kitchen
                            </a>
                            </h2>*@
                    </div>
                    <!-- end content -->
                </div>
                <!-- end recent-news -->
            </div>
            <!-- end col-6 -->
            <div class="col-12 spacing-50"></div>
            <!-- end col-12 -->
            @*<div class="col-12 text-center"> <a href="news.html" class="custom-button">VIEW ALL NEWS</a> </div>*@
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end content-section -->
<section class="content-section no-spacing" data-background="#f5f3ec">
    <div class="container">
        <div class="row no-gutters align-items-center">
            <div class="col-lg-7">
                <figure class="side-gallery">
                    <div class="reveal-effect"><img src="images/side-gallery01.jpg" alt="Image"></div>
                    <div class="reveal-effect"><img src="images/side-gallery02.jpg" alt="Image"></div>
                    <div class="reveal-effect"><img src="images/side-gallery03.jpg" alt="Image"></div>
                </figure>
            </div>
            <div class="col-lg-5">
                <div class="side-content text-center">
                    <h2>
                        @localizer["Estetik"]
                    </h2>
                    <p class="text-left">
                        @localizer["Konfor"]
                    </p>
                    <a href="/gallery" style="background-color: #df7358;float:right" class="custom-button">Galeri</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="newsletter-box">
                    <h6>Maison L'etro</h6>
                    <h2>@localizer["Bulten"]</h2>
                    <form>
                        <input type="email" placeholder='@localizer["EmailPlaceholder"]'>
                        <input style="background-color: #df7358;float:right" type="submit" value=@localizer["Kaydol"]>
                    </form>
                    <small>Will be used in accordance with our <a href="#">Privacy Policy</a></small>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-section no-spacing" style="background-color: #df7358;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-bar">
                    <i class="lni lni-protection"></i>
                    <h6>iletişim:</h6>
                    <strong>+90 0850 450 06 35</strong>
                    <figure><img src="images/logo-tripadviser.png" alt="Image"></figure>
                </div>
                <!-- end footer-bar -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
